{% if breadcrumbs %}
<ol class="breadcrumbs">
  {% for item_name, item_url in breadcrumbs %}
  <li class="breadcrumbs__item">
    {% if forloop.last %}
    <span class="breadcrumbs__link">{{ item_name|title }}</span>
    {% else %}
    <a class="breadcrumbs__link" href="{{ item_url }}">{{ item_name|title }}</a>
    {% endif %}
  </li>
  {% if not forloop.last %}
  <svg
    width="18"
    height="18"
    viewBox="0 0 18 18"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M7.05 13.5L6 12.45L9.45 9L6 5.55L7.05 4.5L11.55 9L7.05 13.5Z"
      fill="#FF9A62"
    />
  </svg>
  {% endif %} {% endfor %}
</ol>
{% endif %}
